@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Merienda+One&family=Montserrat+Alternates&display=swap");

:root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: rgb(255, 255, 255);
  --background: #121212;
}

html * {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  background-image: url("../img/bg-hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--on-background);
  background-color: var(--background);
  /* z-index: -999; */

  display: flex;
  flex-direction: column;
}

/* INTRO */

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 200;
  color: #fff;
  text-align: center;
  line-height: 90vh;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: -10;
  color: #fff;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

/* INTRO END */

/* FIXED ICONS */
.vertical-contacts {
  color: var(--on-background);
  /* border: 1px solid red; */
}

.fixed-icons {
  position: fixed;
  bottom: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  opacity: 0;
  transition: all 0.5s ease-in-out;
  /* border: 1px solid red; */
}

.fixed-icons a {
  font-size: 10px;
  margin-left: -17px;
  color: var(--on-background);
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.fixed-icons a:hover {
  color: var(--primary-color);
  transform: translateY(-5px);
  border: none;
  transition: all 0.5s ease;
}

.fixed-email {
  position: fixed;
  bottom: 10px;
  right: 0;
  margin-right: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  /* border: 1px solid red; */
}

.fixed-email a {
  font-family: monospace;
  /* font-size: px; */
  font-weight: normal;
  margin-left: 28px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: var(--on-background);
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.fixed-email a:hover {
  color: var(--primary-color);
  transform: translateY(-5px);
  border: none;
  transition: all 0.5s ease;
}

.vertical {
  border-left: 2px solid #aaa;
  border-radius: 1px;
  height: 100px;
  /* border: 1px solid red; */
}

section {
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Merienda One", sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

h2 {
  color: var(--on-background-alt);
  font-size: 15px;
  font-weight: normal;
}

/* HERO */
.hero {
  background: url("https://images.pexels.com/photos/4075782/pexels-photo-4075782.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: calc(100vh - 64px);
  display: none;
}

/* Navigation */
nav {
  /* z-index: 10; */
  position: sticky;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  padding: 25px 10px;
  width: 100vw;
  background: rgb(255 255 255 / 50%);
  transition: 0.4s;
  display: flex;
  justify-content: flex-start;
  z-index: 9;
  display: none;
}

a {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  /* border-bottom: 3px solid transparent; */
  font-weight: bold;
  /* transition: 0.4s; */
}

a:hover,
a:focus {
  color: var(--on-background);
  /* border-bottom: 3px solid; */
}

/* Mobile navabr */
#nav-icon4 {
  width: 40px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  margin: 7px;
  /* border: 1px solid white; */
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--primary-color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 29px;
  left: 8px;
}

.mobile-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10px;
  left: 5px;
  transition: 0.4s;
  z-index: 1;
}

/* .fa-bars {
  cursor: pointer;
}

.mobile-bar i {
  font-size: 30px;
} */
/* 
.barIcon::before {
  content: "\f00d";
} */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 40px;
  left: -300px;
  padding-top: 20px;
  width: 50vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: all ease-in-out 0.5s;
}

.side-toggle {
  left: 0;
}

.sidebar a {
  margin: 20px;
}

/* Home Section */

#home {
  /* z-index: 3; */
}

.title-group {
  text-align: center;
}

/*============ Text typing ============*/
.banner-caption {
  text-align: left;
  margin: 0 2rem;
  overflow: hidden;
}

.console-container {
  display: inline-block;
  text-transform: lowercase;
}
.console-underscore {
  display: inline-block;
  left: 2px;
}

/* animated text */
.caption {
  width: 100%;
}

/* About Section */
#about {
  /* background: url(img/me.svg); */
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
  width: 100%;
  background: var(--background);
  box-shadow: var(--box-shadow);
}

img {
  height: 200px;
  width: 200px;
}

.about-text {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-text h3 {
  color: var(--primary-color);
}

.about-text p {
  padding: 20px;
}

/* askat */

#projects {
  display: flex;
  flex-direction: column;
}

/* .buttons {
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

button {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 2px solid var(--primary-color);
  font-size: 15px;
  outline: none;
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}

button:hover:not(.outline) {
  filter: brightness(110%);
}

.primary {
  background: var(--primary-color);
  color: var(--on-primary);
}

.secondary {
  border: 2px solid var(--secondary-color);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
  background: var(--secondary-color);
  color: var(--on-primary);
}

.outline {
  background: var(--background);
  color: var(--on-background);
}

.outline:hover {
  background: var(--primary-color);
  color: var(--on-primary);
}

.text-box {
  width: 60%;
  text-align: justify;
  background: rgb(0 0 0 / 50%);
  color: var(--on-primary);
  border-radius: 10px;
  padding: 30px;
} */

p {
  margin: 0;
  padding: 40px;
  line-height: 25px;
}

/* Contact Section */
section#contact {
  min-height: 20px;
  background: rgba(0, 0, 0, 0.5);
}

section#contact strong {
  margin: 10px 0;
}

.socket {
  width: 100vw;
}

.contact-body {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem;
}

.fab {
  margin: 10px;
  cursor: pointer;
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 15px;
  top: 15px;
  transition: 0.4s;
  /* border: 1px solid red; */
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 0.7rem;
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--on-background);
  visibility: hidden;
}

.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 40px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  /* bottom: 4px; */
  content: "";
  height: 20px;
  /* left: 4px; */
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background: VAR(--primary-color);
}

input:checked + .slider::before {
  transform: translate(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  font-size: 20px;
  margin-right: 5px;
}

/* =============== Scroll Arrow ================= */
#scroll-arrow a span {
  position: absolute;
  /* top: 0; */
  left: 3.3rem;
  width: 24px;
  height: 24px;
  margin-left: -20px;
  border-left: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  box-sizing: border-box;
}
#scroll-arrow a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  top: 31rem;
}
#scroll-arrow a span:nth-of-type(2) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  top: 32rem;
}
#scroll-arrow a span:nth-of-type(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  top: 33rem;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* =================== Scroll Arrow End ======================= */

/* Tablet screen  */
@media (min-width: 480px) {
  .mobile-bar {
    display: none;
  }

  .theme-switch {
    height: 30px;
    width: 50px;
  }

  .slider::before {
    height: 30px;
    width: 30px;
  }

  .fas {
    font-size: 30px;
  }

  nav {
    display: block;
  }

  /*============ Text typing ============*/
  .banner-caption {
    font-size: 30px;
  }

  /* =============== Scroll Arrow ================= */

  #scroll-arrow a span {
    width: 40px;
    height: 40px;
  }
  #scroll-arrow a span:nth-of-type(1) {
    top: 55rem;
  }
  #scroll-arrow a span:nth-of-type(2) {
    top: 56rem;
  }
  #scroll-arrow a span:nth-of-type(3) {
    top: 57rem;
  }

  #projects {
    box-sizing: border-box;
    display: block;
    /* flex-direction: row; */
  }

  #projects h1 {
    text-align: center;
    padding-bottom: 40px;
  }

  #text-box {
    width: 80%;
    margin: 40px auto;
    border-radius: 5px;
  }
}

/* Laptop screen */
@media (min-width: 769px) {
  .hero {
    display: block;
  }
}
